<h1>reporte works!</h1>
<div>
    <article *ngFor="let item of lista">
      <span>{{item.codigo_vuelo}}</span><span> - </span>
      <span>{{item.codigo_origen}}</span><span> - </span>
      <span>{{item.codigo_destino}}</span><span> - </span>
      <span>{{item.costo}}</span><span> - </span>
      <span>{{item.nombre_aerolinea}}</span><span> - </span>
      <span>{{item.codigo_aerolinea}}</span><span> - </span>
      <span>{{item.tipo_vuelo}}</span><span> - </span>
      <span>{{item.estado}}</span><span> - </span>
      <span>{{item.aeropuerto_llegada}}</span><span> - </span>
      <span>{{item.aeropuerto_salida}}</span><span> - </span>
      <span>{{item.fecha_llegada}}</span><span> - </span>
      <span>{{item.hora_llegada}}</span><span> - </span>
      <span>{{item.fecha_salida}}</span><span> - </span>
      <span>{{item.hora_salida}}</span>
    </article>
  </div>
  