<section class="w-3/5 mx-auto bg-yellow-200 shadow-2xl rounded px-10 px-20">
    <h1 class="text-7xl">Registro de Catalogo de tabla</h1>
    <label class="text-lg">codigo de tabla</label>
    <div>
      <input type="text"  name="codigoTabla" [(ngModel)]="codigoTabla">
    </div>
  
    <label class="text-lg">codigo de detalle </label>
    <div>
      <input type="text"  name="codigoDetalle" [(ngModel)]="codigoDetalle">
    </div>
  
    <label class="text-lg">Valor</label>
    <div>
      <input type="text"  name="valor" [(ngModel)]="valor">
    </div>
  
    <label class="text-lg">Descripcion </label>
    <div>
      <input type="text"  name="descripcion" [(ngModel)]="descripcion">
    </div>
  
    <button  (click)="actualizar()">Actualizar</button>
  </section>
